<div class="info">
  <div class="container-fluid wrapper">
    <header class="header clearfix row">
      <div class="logo">
        <img src="assets/img/logo-horizont.png" alt="logo">
      </div>
      <div class="closeButton">
        <i class="fa fa-times delete" routerLink="../"></i>
      </div>
    </header>
    <div class="row content">
      <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <h4>PASS-IT-SIMPLE</h4>
        <p>
          Progressive web application
        </p>
        <p>
          Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
          Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="OITLogo col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center">
        <img src="assets/img/logo-oit.png" alt="Logo OptimusIT">
      </div>
    </div>
    <div class="row social">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
        <a href="http://optimus-it.biz/" target="_blank" class="link">
          <i class="fa fa-globe"></i>
        </a>
        <a href="https://www.facebook.com/optimusdevelopment/" target="_blank" class="link">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://twitter.com/optimus_it1" target="_blank" class="link">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/company/optimus-it" target="_blank" class="link">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCR5Cu1xKWyVU2rAk-MckHmQ/featured" target="_blank" class="link">
          <i class="fa fa-youtube"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCG2jVmwzM8QOzqHGC09oYcg" target="_blank" class="link">
          <i class="fa fa-youtube"></i>
        </a>
      </div>
    </div>
    <footer class="row footer text-center">
      Created by OPTIMUS IT. 2018 © All rights reserved
    </footer>
  </div>
</div>
