<div class="container-fluid wrapper">
  <div class="row">
    <div class="col-xs-12 text-center">
      <img class="logo" src="assets/img/logo.png" alt="">
    </div>
    <div class="col-xs-12 text-center">
      <p class="heading">
        Plan your day easily
      </p>
    </div>
    <div class="col-xs-12 text-center">
      <div class="button clearfix" (click)="signIn('FACEBOOK')">
        <div class="icon fa fa-facebook"></div>
        <div class="text text-center">
          Enter with Facebook
        </div>
      </div>
    </div>
    <div class="col-xs-12 text-center">
      <div class="button clearfix" (click)="signIn('GOOGLE')">
        <div class="icon fa fa-google"></div>
        <div class="text text-center">
          Enter with Google
        </div>
      </div>
    </div>
  </div>
</div>
